<script>
import initRelatedItemsTree from 'ee/related_items_tree/related_items_tree_bundle';

import SidebarContext from '../sidebar_context';

import EpicBody from './epic_body.vue';

export default {
  components: {
    EpicBody,
  },
  mounted() {
    this.sidebarContext = new SidebarContext();
    initRelatedItemsTree();
  },
};
</script>

<template>
  <div class="epic-page-container">
    <epic-body />
  </div>
</template>
